<div class="col-md-4 divappli {% if not MYAPPLI.installed %}div-uninstalled {% endif %}" id="div-{{ MYAPPLI.display_name }}" data-appli="{{ MYAPPLI.display_name }}" data-installed="{% if MYAPPLI.installed %}1{% else %}0{% endif %}">
<div class="post">
    <div class="card card-info card-outline">
        <div class="card-body user-block">
            <img class="img-circle img-bordered-sm" src="https://www.scriptseedboxdocker.com/wp-content/uploads/icones/{{ MYAPPLI.display_name }}.png" alt="{{ MYAPPLI.display_name }}">
            <span class="username">{% if MYAPPLI.public_url != false%}<a href="https://{{ MYAPPLI.public_url }}" target="_blank">{{ MYAPPLI.display_name|capitalize  }}</a>{% else %}{{ MYAPPLI.display_name|capitalize  }}{% endif %}</span>
            <span class="description" id="version-{{ MYAPPLI.display_name }}"></span>
        </div>
        <div class="card-footer" id="toto">
            <a class="link-black start-stop-button-{{ MYAPPLI.display_name }} text-sm mr-2 bouton-start" data-appli="{{ MYAPPLI.display_name }}" id="reset-{{ MYAPPLI.display_name }}" style="{% if not MYAPPLI.installed %}display: none;{% endif %}cursor: pointer;">
                <i class="fas fa-share mr-1"></i>
        
                    <span id="texte-bouton-restart-{{ MYAPPLI.display_name }}">
                        {% if MYAPPLI.running %}Redémarrer{% else %}Démarrer{% endif %}
                    </span>
            </a>
            <a class="link-black start-stop-button-{{ MYAPPLI.display_name }} text-sm mr-2 bouton-stop" data-appli="{{ MYAPPLI.display_name }}" id="stop-{{ MYAPPLI.display_name }}" style="{% if not MYAPPLI.installed %}display: none;{% endif %};cursor: pointer;">
                <i class="fas fa-share mr-1"></i>stop
            </a>
            <span class="float-right">
                <button type="submit" name="{{ MYAPPLI.display_name }}" id="status-{{ MYAPPLI.display_name }}" class="btn btn-block {% if MYAPPLI.installed %}btn-warning{% else %}btn-sucess{% endif %}btn-sm text-with bouton-install" data-appli="{ MYAPPLI.display_name }}">
                  {% if MYAPPLI.installed %}  
                  Désinstaller
                  {% else %}
                  Installer
                  {% endif %}
                </button>
            </span>
        </div>
    </div>
</div></div>