<div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 divappli"  {% if not MYAPPLI.installed %}div-uninstalled {% endif %}" id="div-{{ MYAPPLI.display_name }}" data-appli="{{ MYAPPLI.display_name }}" data-installed="{% if MYAPPLI.installed %}1{% else %}0{% endif %}">
    <div class="card">
        <div class="card-body user-block">
            <img class="img-circle img-bordered-sm" id="logo-{{ MYAPPLI.display_name }}" alt="{{ MYAPPLI.display_name }}"
                src="ajax/affiche_image.php?appli={{ MYAPPLI.display_name }}">
            <h4 class="card-title text-white m-b-0">{% if MYAPPLI.public_url != false%}<a href="https://{{ MYAPPLI.public_url }}" target="_blank">{% else %}<a>{%  endif %}<span class="username" id="nomAppli-{{ MYAPPLI.display_name }}">{{ MYAPPLI.display_name|capitalize }}</span></a>
            </h4>
            <span class="description" id="version-{{ MYAPPLI.display_name }}"></span>
            <div id="descriptif-{{ MYAPPLI.display_name }}"></div><p>
            <div>
                <div class="btn-group">
                    <button type="button" class="btn btn-light dropdown-toggle"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="ti-settings"></i>
                    </button>
                    <div class="dropdown-menu animated flipInX">
                        <a class="dropdown-item" id="texte-bouton-restart-{{ MYAPPLI.display_name }}" href="javascript:void(0)">Redémarrer</a>
                        <a class="dropdown-item start-stop-button-{{ MYAPPLI.display_name }}" href="javascript:void(0)" data-appli="{{ MYAPPLI.display_name }}" id="stop-{{ MYAPPLI.display_name }}">Arrêter</a>

                        <a class="dropdown-item" href="javascript:void(0)">Sauvegarder</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item configure" href="javascript:void(0)" data-appli="{{ MYAPPLI.display_name }}">Configurer</a>
                    </div>
                </div>

                <span class="float-right">
                    <div class="btn-group">
                        <button href="javascript:void(0)" type="button"
                            class="btn btn-warning affichage-modal uninstall" data-appli="{{ MYAPPLI.display_name }}">Désinstaller</button>
                        <button type="button"
                            class="btn btn-warning dropdown-toggle dropdown-toggle-split"
                            id="dropdownMenuReference" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false" data-reference="parent">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Et supprimer les données</a>
                        </div>
                    </div>
                </span>
            </div>
        </div>
    </div>
</div>


{#
ANCIEN TEMPLATE
<div class="col-md-4 divappli {% if not MYAPPLI.installed %}div-uninstalled {% endif %}" id="div-{{ MYAPPLI.display_name }}" data-appli="{{ MYAPPLI.display_name }}" data-installed="{% if MYAPPLI.installed %}1{% else %}0{% endif %}">
<div class="post">
    <div class="card card-info card-outline">
        <div class="card-body user-block">
            <img class="img-circle img-bordered-sm" id="logo-{{ MYAPPLI.display_name }}" alt="{{ MYAPPLI.display_name }}">
            {% if MYAPPLI.public_url != false%}<a href="https://{{ MYAPPLI.public_url }}" target="_blank">{% else %}<a>{%  endif %}
                <span class="username" id="nomAppli-{{ MYAPPLI.display_name }}">{{ MYAPPLI.display_name|capitalize  }}</span>
                </a>
            <span class="description" id="version-{{ MYAPPLI.display_name }}"></span>
        </div>
        <div class="card-footer" id="toto">
            <a class="link-black start-stop-button-{{ MYAPPLI.display_name }} text-sm mr-2 bouton-start" data-appli="{{ MYAPPLI.display_name }}" id="reset-{{ MYAPPLI.display_name }}" style="{% if not MYAPPLI.installed %}display: none;{% endif %}cursor: pointer;">
                
                <i id="i_bouton_status_{{ MYAPPLI.display_name }}" class="fas {% if MYAPPLI.running %}fa-redo-alt{% else %}fa-play-circle{% endif %}"></i>
               
        
                    <span id="texte-bouton-restart-{{ MYAPPLI.display_name }}">
                        {% if MYAPPLI.running %}Redémarrer{% else %}Démarrer{% endif %}
                    </span>
            </a>
            <a class="link-black start-stop-button-{{ MYAPPLI.display_name }} text-sm mr-2 bouton-stop" data-appli="{{ MYAPPLI.display_name }}" id="stop-{{ MYAPPLI.display_name }}" style="cursor: pointer;">
                <i class="fas fa-stop-circle"></i> stop
            </a>
            <span class="float-right">
                <!-- Notes j'ai deporté la classe bouton-install dans le button modal et remplacé par une classe affichage-modal que j'ai declaré dasn le fichier js, j'ai mis le modal dans header.wig -->
                <button type="submit" name="{{ MYAPPLI.display_name }}" id="status-{{ MYAPPLI.display_name }}" class="btn btn-block btn-warning btn-sm text-with affichage-modal uninstall" data-appli="{{ MYAPPLI.display_name }}">
                </button>
            </span>
        </div>
    </div>
</div></div>

#}